body {
  background-color: #1f2933;
  font-family: Arial;
}

.general_container {
  padding: 10px;
  border: none;
}

.button_bar {
  padding: 10px;
  display: inline-block;
}

.button {
  background-color: #616e7c;
  border: none;
  border-radius: 4px;
  color: #f5f7fa;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 7px 10px;
  cursor: pointer;
}

#button_bar {
  background-color: #323f4b;
  border-radius: 4px;
}

#load_id {
  background-color: #3e4c59;
  border: 1px solid #9aa5b1;
  border-radius: 4px;
  color: #f5f7fa;
  text-align: center;
  text-decoration: non;
  font-size: 16px;
  padding: 7px 10px;
  box-sizing: border-box;
}

#share_div {
  display: none;
  background-color: #3e4c59;
  border-radius: 4px;
  color: #f5f7fa;
  text-align: center;
  text-decoration: non;
  font-size: 16px;
  padding: 7px 10px;
}

#share_a:link, #share_a:visited {
  color: #cbd2d9;
  text-decoration: none;
}

#share_a:hover, #share_a:active {
  color: #f5f7fa;
  text-decoration: underline;
}

#left_col {
  float:left;
}

#right_col {
  display: inline-block;
}

#input {
  background-color: #3e4c59;
  color: #f5f7fa;
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 4px;
}

#error_span {
  background-color: #323f4b;
  color: #f5f7fa;
  display: none;
  white-space: pre-wrap;
  border: none;
  border-radius: 4px;
  padding: 5px;
}
